<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Swiggy</a>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="float: right" routerLink="/cart">Cart 
            <label>
              Count {{cartItemCount}}
          </label> </a>
        </li>
        <!-- <li class="nav-item">
          <label class="nav-link">Cart Count  </label>
        </li> -->
      </ul>
    </div>
  </nav>